/*

!.gitignore
!/src/
!/train_logs/
!/scratch/
!/readme_img/
!/usecases/

!/README.md
!/requirements.txt
!debug_notebook.ipynb
!test_nb.ipynb
!multipliers_test.ipynb
!fr_test_nb.ipynb
!fr_estim_nb.ipynb
!lr_nb.ipynb

**/__pycache__/